{% include 'navbar.html' %}
<div style="padding: 20px;">
    <h2>Edit Employee {{ employee_id }}</h2>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('edit_employee', employee_id=employee_id) }}">
        <label>Name:</label>
        <input type="text" name="name" value="{{ employee['Name'] }}" required><br>
        <label>DOB:</label>
        <input type="text" name="dob" value="{{ employee['Date of Birth'] }}" required><br>
        <label>Gender:</label>
        <input type="text" name="gender" value="{{ employee['Gender'] }}" required><br>
        <h4>Emergency Details:</h4>
        <label>Blood group:</label>
        <input type="text" name="blood_group" value="{{ employee['Emergency Details']['Blood group'] }}" required><br>
        <label>Contact Person Name:</label>
        <input type="text" name="contact_person_name" value="{{ employee['Emergency Details']['Contact Person Name'] }}" required><br>
        <label>Relation:</label>
        <input type="text" name="relation" value="{{ employee['Emergency Details']['Relation'] }}" required><br>
        <label>Phone Number:</label>
        <input type="text" name="phone_number" value="{{ employee['Emergency Details']['Phone Number'] }}" required><br>
        <label>Company Phone Number:</label>
        <input type="text" name="company_phone_number" value="{{ employee['Emergency Details']['Company Phone Number'] }}" required><br>
        <button type="submit">Save Changes</button>
    </form>
</div>
